@import 'include-media';

$font-family: Arial;
$mono-font: Courier;
$text-color: black;

$breakpoints: (medium: 560px, desktop: 1024px);

body {
    padding: 5vw 2vw;

    font-family: $font-family;
    color: $text-color;
    transition: 70ms;
    /* font-size: calc(12px + 0.5vw); */
}

img {
    max-width: 100%;
}

pre {
    font-size: 1.1rem;
    padding: 1rem 1rem 30px 1rem;
    border-radius: 0.5rem;
    overflow-x: scroll;
}

a {
    word-wrap: break-word;
}

.inline-icon {
    display: inline-block;
    height: 1rem;
    vertical-align: middle;
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include media("<=medium") {
    }

    @include media(">medium") {
        min-width: map-get($breakpoints, medium);
        width: 50%;
    }
}

p > code {
    background: #2b303b;
    color: white;
    padding: 0.2rem;
    border-radius: 0.2rem;
    display: inline;
}

p {
    text-align: justify;
}

.header {
    padding-bottom: 5vw;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content > * {
    width: 100%;
}

.content > img {
    max-height: 30rem;
    width: auto;
    object-fit: contain;
    border-radius: 1rem;
}

.footer {
    flex: 1;
    margin-top: 2rem;
    display: flex;
    width: 100%;

	@include media("<=medium") {
        flex-direction: column;
        align-items: center;
	}

	@include media(">medium") {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
	}
}

.footer > * {
    margin: 0.5em 0;
}
