{% extends "index.html" %}

{% block head_extra %}
    <style>
      body {
        {%- if page.extra.background -%}
      	background: {{ page.extra.background }};
        {%- endif -%}
        {%- if page.extra.color -%}
      	color: {{ page.extra.color }};
        {%- endif -%}
      }
    </style>
{% endblock head_extra %}

{% block header %}
<div class="header">
    <a href="{{ config.base_url }}">home</a>
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.date %}
    <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
    {% endif %}
</div>
{% endblock %}

{% block main %}
<div class="content">
    {{ page.content | safe }}
</div>
{% endblock main %}

{% block footer %}
<div class="footer">
    <a href="{{ config.base_url }}">home</a>
    <a href="{{ config.extra.github }}">github</a>
</div>

{% if page.extra.comments %}
<!-- comments -->
<script src="https://utteranc.es/client.js"
        repo="micouy/micouy.github.io"
        issue-term="pathname"
        label="comment-section"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
{% endif %}
{% endblock %}
